@import "tailwindcss";
:root {
  background: #09090b;
  color: #fff;
}
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none; 
  scrollbar-width: none; 
}

@layer utilities {
  .glow {
    box-shadow: 0 0 20px -5px rgba(59, 130, 246, 0.5);
  }
}